* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    /* border: 1px solid red; */
}

p {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.shop-section
{
    margin-top: 0px;
}
.fc-product{
    padding: 0px;
    padding-bottom: 50px;
    
}

.shop-heading{
    padding: 20px;
    padding-top: 70px;
}
.shop-heading h1{
    font-size: 70px;
}
.dropdown-toggle{
    color: black;
    background-color: white;
    border: none;
}
.dropdown-toggle:hover{
    color: black;
    background-color: white;
}
.Shop-details{
    padding-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.119);
    margin-bottom: 30px;
}
.shop-top-para{
    width: 45%;
}
@media screen and (max-device-width:1280px), screen and (max-width:1024px) {
     .pro-img img{
        height: 450px !important;
        width: 350px !important;
     }
}
@media(max-width:1024px)
{
    
    .pro-img img{
        width: 300px !important;
        height: 400px !important;
    }





    /* ========================================= */
}
    @media(max-width:768px)
{

    .pro-img img{
        width: 230px !important;
        height: 330px !important;
    }
  
    

}
@media(max-width:425px){
    .shop-top-para{
        width: 100%;
    }
}
@media(max-width:425px)
{
   

    .pro-img img{
        width: 425px !important;
        height: 525px !important;
    }
}
@media(max-width:375px)
{

    .pro-img img{
        width: 375px !important;
        height: 475px !important;
    
    }
}

@media(max-width:320px)
{   
  
    .pro-img img{
        width: 320px !important;
        height: 420px !important;
    
    }
}